body {
    margin: 0;
    background-color: azure;
}

::-webkit-scrollbar {
    display: none;
}

.flex_grid_wrap {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-around;
}

/* flex_container */
.flex_container {
    width: 50%;
}

.flex_top_container {
    width: 100%;
    height: 50%;

    background-color: rgb(171, 250, 213);

    overflow: scroll;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

.flex_top_container > .flex_item {
    border: 0.5px solid black;

    text-align: center;

    width: 100%;
    padding: 50px;
    margin: 10px;
}


.flex_bottom_container {
    width: 100%;
    height: 50%;

    background-color: rgb(167, 212, 212);

    overflow: scroll;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.flex_bottom_container > .flex_item {
    border: 0.5px solid black;

    min-width: 150px;
    height: 150px;

    padding: 50px;
    margin: 10px;

    text-align: center;
    line-height : 150px;
}

/* grid_container */
.grid_container {
    width: 50%;
    background-color: burlywood;
}

.grid_top_container,
.grid_bottom_container {
    width: 100%;
    height: 50%;
    display: grid;

    overflow: scroll;
}

.grid_top_container {
    grid-auto-rows: 100px 100px 300px 150px;
    /* align-items: center; */
}

.grid_top_container .grid_item {
    border: 0.5px solid black;
    margin: 10px;
    gap: 10px 10px;
    text-align: center;
}

.grid_bottom_container {
    background-color: cornflowerblue;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 10px 10px;
}

.grid_bottom_container .grid_item {
    border: 0.5px solid black;
    margin: 10px;
    height: 500px;
    line-height: 500px;
    text-align: center;
}

.grid_bottom_container .grid_item:nth-child(1) {
    grid-column: 1/3;
}